.view {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: white;
    position: relative;
}

.view_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding: 0 2rem 1.5rem;
}

.view_container p {
    text-align: center;
    font-size: 2rem;
}

.view_container #writeP {
    margin-top: 17rem;
    letter-spacing: 2px;
    font-family: 'Bangers', sans-serif;
}

.reviewCard {
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.9);
    font-family: 'Bangers', sans-serif;
    position: relative;
    margin: 2rem 1rem 0;
    transition: 0.5s;
}

.reviewCard:hover {
    transform: scale(1.04);
}

.reviewText {
    flex-direction: column;
    padding: 1rem;
    width: 100%;
}

.reviewText h1 {
    padding: 1rem;
    font-family: 'Bangers', sans-serif;
}

.reviewText p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 100%;
}

.reviewCard img {
    width: 10rem;
    transform: scale(1.075);
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.9);
}

.deleteBtn {
    color: white;
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 1.25rem;
    transition: 0.25s;
}

.deleteBtn:hover {
    color: red;
}

.editBtn {
    color: white;
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    bottom: 3rem;
    right: 1rem;
    cursor: pointer;
    font-size: 1.25rem;
    transition: 0.25s;
}

.editBtn:hover {
    color: lightblue;
}

@media(max-width: 1100px) {
    .view_container {
        width: 80%;
        margin-top: 8rem;
    }
}

@media(max-width: 800px) {
    .view_container {
        width: 90%;
    }
    .reviewCard p {
        font-size: 0.8rem;
    }
    /* .reviewCard img {
        width: 12rem;
    } */
}

@media(max-width: 550px) {
    .reviewCard img {
        transform: scale(1);
    }
    .reviewCard p {
        font-size: 1rem;
    }
    .reviewCard {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 0 0;
        text-align: center;
        border-radius: 20px;
    }
    .reviewText{
        width: 70%;
    }
}