* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* .app {
  background-image: url(./images/marvelBackground.jpeg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
} */