.comicSearch {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}